$black:                 #2e2e2c;
$blue:                  #007aff;
$yellow:                #ffcc00;
$red:                   #ff3b30;
$green:                 rgb(76,217,100);
        
$grey-20:               #e4e3e0;
$grey-20-translucent:   rgba(#4b432c, 0.15);
$grey-50:               #a09e95;