$black:                 #2e2e2c;
$blue:                  #007aff;
$yellow:                #ffcc00;
$red:                   #ff3b30;
$green:                 rgb(76,217,100);
        
$grey-20:               #e4e3e0;
$grey-20-translucent:   rgba(#4b432c, 0.15);
$grey-50:               #a09e95;







$tfc-trainicon-icn: "\61";
$tfc-trainicon-ec: "\62";
$tfc-trainicon-ic: "\63";
$tfc-trainicon-ir: "\64";
$tfc-trainicon-ice: "\65";
$tfc-trainicon-cnl: "\66";
$tfc-trainicon-tgv: "\67";
$tfc-trainicon-en: "\68";
$tfc-trainicon-schiff: "\69";
$tfc-trainicon-seilbahn: "\6a";
$tfc-trainicon-zahnradbahn: "\6b";