<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="css/main.css?{{ random(926132218) }}" media="all" rel="stylesheet">
    <title>Time For Coffee 2 – Prototyp</title>
</head>

<body>
    <header class="tfc-navbar">
        <section class="tfc-view-section tfc-view-section--navbar">
            <header class="tfc-view-section-header">
                <h1 class="tfc-h1 tfc-view-section-header-h1">Suchen</h1>
            </header>
            <article class="tfc-view-section-content tfc-navbar-search-container">
                <input type="text" name="search" placeholder="Haltestelle suchen" class="tfc-input tfc-input-text tfc-navbar-search-input">
                <button class="tfc-button tfc-button-flat tfc-navbar-search-button">Abbrechen</button>
            </article>
            <div class="tfc-navbar-search-overlay-button"></div>
        </section>
    </header>
    <main id="tfc-viewcontainer--home" class="tfc-viewcontainer tfc-viewcontainer--with-navbar">

        <section class="tfc-view-section">
            <header class="tfc-view-section-header">
                <h1 class="tfc-h1 tfc-view-section-header-h1">Favoriten</h1>
                <button class="tfc-button tfc-button-flat tfc-view-section-header-button" name="tfc-button-edit_favorites">Bearbeiten</button>
            </header>
            <article class="tfc-view-section-content">
                <ul class="tfc-list tfc-list--favorites">
                    <li class="tfc-list-item tfc-list-item--favorites"><span>Büro Liip Quellenstrasse</span></li>
                    <li class="tfc-list-item tfc-list-item--favorites"><span>Bus 161 Bürkliplatz</span></li>
                    <li class="tfc-list-item tfc-list-item--favorites"><span>Zürich HB</span></li>
                    <li class="tfc-list-item tfc-list-item--favorites"><span>S8 Wollishofen</span></li>
                </ul>
            </article>
        </section>

        <section class="tfc-view-section">
            <header class="tfc-view-section-header">
                <h1 class="tfc-h1">In der Nähe</h1>
            </header>
            <article class="tfc-view-section-content">
                <ul class="tfc-list tfc-list-classic">
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Limmatplatz</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Okenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Röntgenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Lettenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Nordstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Museum für Gestaltung</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Limmatplatz</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Okenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Röntgenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Lettenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Nordstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Museum für Gestaltung</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Limmatplatz</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Okenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Röntgenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Lettenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Nordstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Museum für Gestaltung</li>
                </ul>
            </article>
        </section>
    </main>

    <aside id="tfc-viewcontainer--searchresults" class="tfc-viewcontainer tfc-viewcontainer--with-navbar">
        <section class="tfc-view-section">
            <article class="tfc-view-section-content">
                <ul class="tfc-list tfc-list-classic">
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Limmatplatz</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Okenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Röntgenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Lettenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Nordstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Museum für Gestaltung</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Limmatplatz</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Okenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Röntgenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Lettenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Nordstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Museum für Gestaltung</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Limmatplatz</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Okenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Röntgenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Lettenstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Nordstrasse</li>
                    <li class="tfc-list-item tfc-list-item--classic">Zürich, Museum für Gestaltung</li>
                </ul>
            </article>
        </section>
    </aside>

    <script src="js/main.js?{{ random(839270524) }}"></script>
</body>

</html>
